<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{titre}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-margin ion-padding">
  <ion-button expand="block" (click)="doLogin()" color="danger" *ngIf="!isGoogleLogin">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    Se connecter avec google
  </ion-button>
  
  <div *ngIf="isGoogleLogin">
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button expand="block" color="primary" (click)="IsAddTache()">Nouvelle tache</ion-button>
      </ion-col>
    </ion-row>
    <ion-card *ngIf="isNewTache">
    <ion-row class="ion-text-center align-items-center">
      <ion-col size="12">
        <ion-text><h4>Ajouter tache</h4></ion-text>
      </ion-col> 
    </ion-row>

    <ion-row >
      <ion-col size="12" >
        <ion-item>
          <ion-input [(ngModel)]="nom" placeholder="Non de la tache"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-button expand="block" color="success" (click)="AddTache(tache)">Ajouter</ion-button>
      </ion-col>
    </ion-row> 
  </ion-card>

  <ion-card *ngIf="isUpdateTache">
    <ion-row class="ion-text-center align-items-center">
      <ion-col size="12">
        <ion-text><h4>Modifier tache</h4></ion-text>
      </ion-col> 
    </ion-row>

    <ion-row>
      <ion-col size="12" >
        <ion-item>
          <ion-input [(ngModel)]="tacheUpdate.nom" placeholder="Non de la tache"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" >
        <ion-select [(ngModel)]="tacheUpdate.etat"  *ngFor="let etat of etats">
          <ion-select-option>{{etat}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-button expand="block" (click)="update(tacheUpdate)"  color="success" >Modifier</ion-button>
      </ion-col>
    </ion-row> 
  </ion-card>

    <ion-card *ngIf="showTable">
      <ion-row class="ion-text-center align-items-center">
        <ion-col size="12">
          <ion-text><h4>Mes taches</h4></ion-text>
        </ion-col> 
      </ion-row>


      <ion-list class="align-items-center" (click)="isUpdate(tache)" *ngFor="let tache of taches">
        <ion-item>
          <ion-label>
            <h2>{{tache.nom}}</h2>
            <ion-badge *ngIf="tache.etat =='A faire'" slot="end">{{tache.etat}}</ion-badge>
            <ion-badge color="dark" *ngIf="tache.etat == 'Terminer'" slot="end">{{tache.etat}}</ion-badge>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card>
      <ion-row *ngIf="!showTable" class="align-items-center">
       <ion-note color="danger">Pas de taches disponible</ion-note>
      </ion-row>
      <ion-button expand="block" (click)="termineAll()" color="medium"*ngIf="isGoogleLogin">
        Terminer tous les taches
      </ion-button>
    <ion-button expand="block" (click)="logout()" color="danger" *ngIf="isGoogleLogin">
      Deconnexion
    </ion-button>

  </div>

</ion-content>